.balloon {
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
  color: #377D6A;
  outline: 0;
  transition: all .3s ease-in-out;
  border-radius: 5px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 11px 0 0 10px;
  width: 100%;
}

/*Wide Version - can be applied to more elements*/
.balloon.wide {
  text-indent: 200px;
}

.balloon::-webkit-input-placeholder {
  color: #aaa;
  text-indent: 0;
  font-weight: 300;
}

.balloon+label {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 13px;
  color: #032429;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  background: rgba(122, 184, 147, 0);
  margin: 0;
}

.balloon+label:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  transition: all .3s ease-in-out;
}

.balloon:focus,
.balloon:active {
  color: #377D6A;
  /*Note !important*/
  text-indent: 0 !important;
  background: #fff;
}

.balloon:focus::-webkit-input-placeholder,
.balloon:active::-webkit-input-placeholder {
  color: #aaa;
}

.balloon:focus+label,
.balloon:active+label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7ab893;
  transform: translateY(-31px);
  padding: 1px 10px;
}

.balloon:focus+label:after,
.balloon:active+label:after {
  border-top: 4px solid #7ab893;
}

.inputRow {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 10px;
}

.inputGroup {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
}

input {
  height: 42px;
}

.ui-datepicker {
  background: #fff;
  width: 200px;
}