.productArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subCategoriesSec {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -6px 30px;
}

.fiveColumn .subCategoriesThumb {
    width: 20%;
}

.subCategoriesThumb {
    margin: 0 0 10px;
    padding: 0 6px;
    width: 25%;
}

.subCategoriesThumb figure {
    position: relative;
}

.subCategoriesThumb figure img {
    position: relative;
    z-index: 0;
    width: 100%;
    border-radius: 10px;
}

.subCategoriesThumb figcaption {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(transparent, #0F0F0F);
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    color: #fff;
    padding: 10px;
    transition: all ease .2s;
}

.subCategoriesThumb:hover figcaption {
    padding: 20px 10px;
}

.threeColumnLayoutSec {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.threeColumnLayout_Left .subCategoriesThumb {
    width: 100%;
}

.threeColumnLayout_Right .subCategoriesThumb {
    width: 50%;
}

.threeColumnLayout_Left,
.threeColumnLayout_Right {
    width: 50%;
    display: flex;
}

.threeColumnLayout_Right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.productThumbWrap {
    margin: 0 -14px 30px;
    display: flex;
    flex-wrap: wrap;
}

.stickyFilter {
    display: none;
}

.featuredExperienceSec {
    margin: 0 0 50px;
}

.featuredExperienceSec .row {
    margin: 0 -6px;
}

.featuredExperienceSec .col-sm-4 {
    padding: 0 6px;
}

@media screen and (max-width: 1024px) {
    .subCategoriesThumb {
        width: 50% !important;
    }
}

@media screen and (max-width: 767px) {
    .filterSecWrap {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 98;
    }

    .filterSec {
        margin: 0;
        position: fixed;
        left: 0;
        width: 100%;
        padding: 30px 40px 0 20px;
        overflow-y: auto;
        box-shadow: 0px 4px 10px 0px #e70f14;
        border-radius: 0;
    }

    .stickyFilter {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 3;
        left: 0;
        align-items: center;
        justify-content: center;
        padding: 6px;
        gap: 6px;
        font-size: 14px;
        color: #d90e13;
        border-top: solid 1px #d90e13;
        background: #fdf0f1;
    }

    .stickyFilter .fa {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .threeColumnLayoutSec {
        flex-direction: column;
    }

    .threeColumnLayout_Left,
    .threeColumnLayout_Right {
        width: 100%;
    }
}