.projectThumbnailsWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 4%;
    padding: 0 0 20px;
    width: 100%;
}

.projectThumbnailsSec {}
.projectThumbnail {
    position: relative;
    width: 30%;
}
.projectThumbnail a {
    position: absolute;
    bottom: 0;
    background: #404040;
    color: #fff !important;
    padding: 10px 40px 5px 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-family: Oswald;
    text-transform: uppercase;
    margin: auto 0 0;
    width: 100%;
}
.projectThumbnail i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.projectThumbnail figure {height: 280px;overflow: hidden;}
.projectThumbnail figure img {
    width: 100%;
}
.projectThumbnail h4 {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.projectThumbnail h6 {
    text-transform: capitalize;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
    .projectThumbnail {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .projectThumbnailsWrap {
    padding: 0 15px 50px !important;
    }
}

@media only screen and (max-width: 479px) {
    .projectThumbnail {
        width: 100%;
    }
}