@import url(variable.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  color: #603509;
  line-height: 21px;
}

img {
  max-width: 100%;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

figure img {
  max-height: 100%;
}

.strong {
  font-weight: 800;
}

small {
  font-size: 12px;
}

.container {
  max-width: 1200px;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(238 193 40 / 32%);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(96 53 9 / 32%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-search {
  position: relative;
  width: 24%;
  margin: 0 auto;
  overflow: hidden;
}

.header-search input {
  background: url(../images/search-icon.svg) no-repeat top 7px left 10px;
  background-size: 14px;
  border: 1px solid #707070;
  border-radius: 20px;
  height: 28px;
  width: 100%;
  padding: 0 15px 0 36px;
  z-index: 1;
  position: relative;
}

.header-search input:focus {
  background-color: #FFFBF4;
}

.searchLine {
  border-right: 2px solid #585858;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  width: 0;
  animation: typewriter 4s steps(44) 1s infinite normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  position: absolute;
  top: 4px;
  left: 40px;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

h1 {
  font-size: 30px;
  line-height: 45px;
  color: #603509;
}

h2 {
  font-size: 26px;
  margin: 0 0 20px;
  line-height: 36px;
}

h3 {
  color: #603509;
  font-size: 26px;
  line-height: 35px;
  margin: 0 0 20px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  line-height: 39px;
}

h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.show_767 {
  display: none;
}

.btn {
  border-radius: 20px;
  font-size: 12px;
  height: 34px;
  line-height: 12px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1.44px;
}

.btn-primary {
  border: 0;
  background: #161616;
  color: #fff !important;
}

.btn-secondary {
  border: 1px solid #707070;
  color: #585858;
  background: #fff;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-trinary:hover {
  background: #161616;
  color: #fff !important;
}

.btn-trinary {
  background: #585858;
  color: #fff;
}

.btn-small {
  height: 28px;
  padding: 0 14px;
  font-size: 8px;
}

.btn-dashed {
  border: dashed 1px #161616;
  padding: 10px;
  color: #161616;
  transition: all ease .2s;
  cursor: pointer;
  text-align: center;
}

.logo {
  height: 40px;
}

.smallLogo {
  display: none;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.noBg {
  background: none !important;
}

footer {
  background: #603509;
  padding: 60px 0 100px;
  color: #fff;
}

footer a {
  color: #eee;
  transition: all ease .2s;
}

footer a:hover {
  color: #DB8520;
  padding: 0 0 0 2px;
}

footer h4 {
  margin: 0 0 20px
}

footer ul {
  list-style: none;
}

footer li {
  margin: 0 0 8px;
}

.footerLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.socialMedia a {
  width: 34px;
  height: 34px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
  font-size: 16px;
  color: #fff;
}

.modal-body {
  padding: 14px 20px;
}

.modal-body h3 {
  margin: 0 0 14px;
  display: flex;
  align-items: center;
}

.modal-body h3 .close {
  height: 18px;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 10px;
  color: #603509;
}

.breadcrumb-item.active {
  color: inherit;
  font-weight: 800;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "|";
  position: relative;
  top: -1px;
  padding: 0 6px;
}

.badge {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  padding: 8px 20px 6px 20px;
  border-radius: 20px;
}

.badge.primary {
  background: rgb(238 193 40 / 32%);
  color: #DB8520;
}

.starsGroup i {
  color: hsl(32, 75%, 49%);
}

.qtySec {
  margin: 0 0 20px;
}

.qtySec button {
  width: 19px;
  height: 18px;
  background: #603509;
  border-radius: 50%;
  border: 0;
  color: #fff;
  line-height: 2px;
  cursor: pointer;
}

.qtySec input {
  background: none;
  border: 0;
  text-align: center;
  width: 60px;
}

.headingBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headingBlock a {
  margin: 0 90px 0 0;
}

.owl-dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.owl-dot {
  height: 14px;
  width: 14px;
  border: solid 1px #603509 !important;
  border-radius: 50px;
}

.owl-dot.active {
  background: #603509 !important;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

.modal-title {
  font-size: 24px;
}

.modal-content {
  border: none;
  box-shadow: 0px 4px 112px rgb(12 108 173 / 10%);
  border-radius: 10px;
}

.modelFooter {
  display: flex;
  justify-content: space-between;
}

.modelFooter .btn {
  width: 48%;
  text-align: center;
  padding: 12px 10px;
}

.modal-header {
  border: 0;
}

.modal.fade.right .modal-dialog {
    position: absolute;
    /* right: 0; */
    margin: 0;
    width: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.fade.right.fade .modal-dialog {
    right: 0;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.fade.right .modal-content {
    height: 100%;
}

.modal.fade.right .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smallThumbnails {
    width: 100%;
}

.form-group label {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 41px;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="tel"]::placeholder,
.form-group input[type="number"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group textarea::placeholder {
  color: #999;
}

.form-group textarea {
  height: inherit;
}

#goToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 34px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  border: 1px solid #707070;
  background: #fdf0f1;
  color: #564300;
  transition: all ease 0.2s;
}

#goToTop:hover {
  background: #707070;
  color: #fff
}

.thumbWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbWrap .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
  font-size: 30px;
}

.owl-nav button {
  width: 34px;
  height: 34px;
  border: solid 1px #C4C4C4 !important;
  transition: all ease 0.2s;
  border-radius: 5px !important;
}

.thumbWrap .owl-stage-outer {
  padding: 10px 18px;
  width: 105%;
}

.thumbWrap .owl-stage {
  display: flex;
  flex-wrap: wrap;
}

.thumbWrap .thumb {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px #EEE;
  padding: 14px 14px 8px 14px;
  position: relative;
  transition: all ease .2s;
  margin: 0 0 20px;
  display: block;
}

.thumbWrap .thumb:hover {
  box-shadow: 0px 0px 30px 0px #efefef;
}

.thumbWrap .thumb figure img {
  width: auto
}

.arrow {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: all ease .2s;
  position: absolute;
  bottom: 5px;
  right: 10px;
  border-radius: 50px;
}

.thumb:hover .arrow {
  background: #ddd;
  right: 5px;
}

.newsletter {
  margin: auto 0 0;
}

.newsletter input {
  border: 1px solid #FFFFFF;
  border-radius: 0;
  max-width: 300px;
  margin: auto 0 10px;
  background: none;
  color: #ffff
}

.newsletter input::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.newsletter input:focus {
  background: none;
  color: #fff
}

.social-icons {
  display: flex;
  margin: 0 0 0 -11px;
}

.social-icons a {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all ease .2s;
}

.social-icons a:hover {
  background: #fff
}

.productThumb {
  position: relative;
}

.productThumb figure {
  height: 300px;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px 0 0;
}

.productThumb figure img {
  border-radius: 10px;
  max-width: inherit;
  flex-shrink: 0;
  min-width: 100%;
  transition: all ease .2s;
}

.productThumb:hover figure img {
  filter: drop-shadow(5px 5px 50px #DB8520);
}

.productThumbContentArea {
  position: relative;
  padding: 0 20px 20px 20px;
}

.productThumb .heading {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 10px;
  line-height: 30px;
}

.productThumb p {
  color: #603509;
  font-size: 12px;
  line-height: 16px;
}

.cardBottomWrap {
  margin: 30px 0 0;
}

.productThumbContentArea .priceSec {
  display: flex;
}

.productThumbContentArea .btnWrap {
  display: flex;
  justify-content: space-between;
}

.productThumbContentArea .priceSec .price {
  margin: 0 0 10px;
  color: #585858;
  font-size: 24px;
  font-weight: 700;
}

.productThumbContentArea .rightsec {
  margin: 0 0 0 auto;
}

.productThumbContentArea .starsGroup {
  margin: 0 0 0 auto;
}

input[type="checkbox"] {
  accent-color: #E70F14;
}

.relatedServicesSec {
  background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #FFFFFF 39%, #FFF1D1 100%) 0% 0%;
  padding: 60px 0;
}

.relatedServicesSec h3 {
  margin: 0 auto;
}

.relatedServicesSec .innerSec {
  border: 1px solid #707070;
}

.relatedServicesSec .headingBlock {
  border-bottom: 1px solid #707070;
  padding: 4px 0;
}

.relatedServicesSec .container {
  position: relative;
}

.relatedServicesSec .owl-nav {
  position: absolute;
  top: -56px;
  right: 0;
  display: flex;
  gap: 5px;
  font-size: 30px;
}

.relatedServices-carousel .productThumb {
  border-left: 1px solid #707070;
}

.accordion .card {
  margin: 0 0 20px;
  border-color: #ECECEC;
  border-radius: 0;
}

.card-header {
  border: 0;
  background: none;
  padding: 0;
}

.card-header .btn {
  height: auto;
  white-space: initial;
  line-height: 26px;
}

.card-header h2 {
  padding: 10px 0 10px 40px;
  position: relative;
}

.card-header .actionIcon,
.card-header .accordionNum {
  width: 30px;
  height: 30px;
  background: #ddd;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  left: 20px;
  transition: all ease .2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header:hover .actionIcon {
  background: #161616;
  color: #fff
}

.card-header .actionIcon:after {
  content: "-";
  font-size: 22px;
}

.card-header .collapsed .actionIcon:after {
  content: "+";
}

.card-header h2,
.card-header .btn-link {
  color: #444;
  font-family: inherit;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

.accordion .card-body {
  padding: 0px 10px 20px 70px;
  color: #666;
  line-height: 24px;
}

.accordion .card-body ul {
  list-style: none;
}

.accordion .collapse {
  padding: 0;
}

.inputNumGroup {
  justify-content: space-between;
  display: flex;
  gap: 10px;
  margin: 10px 0 0;
}

.inputNumGroup button {
  padding: 0 10px;
  height: 28px;
  display: block;
}

.inputNumGroup input[type="number"] {
  height: 28px;
  width: 50%;
  padding: 0 10px;
  text-align: center;
}

.btnMinus {
  border-color: #E70F14;
  color: #E70F14 !important;
}

.btnMinus:hover {
  background: #E70F14;
}

.btnPlus {
  border-color: #44aa00;
  color: #44aa00 !important;
}

.btnPlus:hover {
  background: #44aa00;
}

.smallThumbnails {
  display: flex;
  background: rgb(254 243 243);
  margin: 0 0 10px 0;
  justify-content: space-between;
  padding: 5px 5px 5px 14px;
  border-radius: 10px;
  align-items: center;
  transition: all ease .2s;
  position: relative;
}

.smallThumbnails p {
  transition: all ease .2s;
}

.smallThumbnails .link {
  color: #E70F14;
}

.smallThumbnails figure {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  overflow: hidden;
}

.smallThumbnails:hover {
  box-shadow: 0 0 10px rgb(231 15 20 / 27%);
}

.smallThumbnails:hover p {
  font-weight: 800
}

.smallWidgetThumb {
  background: rgb(231 15 20 / 0.05);
  padding: 14px;
  border-radius: 10px;
  margin: 0 0 20px;
  display: block;
}

.smallWidgetThumb figure {
  margin: 0 0 10px;
  overflow: hidden;
  border-radius: 10px;
}

.smallWidgetThumb img {
  transition: all ease .2s;
  width: 100%;
}

.smallWidgetThumb figcaption {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: space-between;
  transition: all ease .2s;
}

.smallWidgetThumb:hover figcaption {
  color: #e70f14
}

.smallWidgetThumb:hover img {
  transform: scale(1.1);
}

.smallThumbnails {
  width: 48%;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 20px 20px;
}

.smallThumbnailsWrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin: 0;
  max-height: 380px;
  overflow-y: auto;
}

.smallThumbnailsWrap .smallThumbnails {
  width: 100%
}

.smallThumbnails .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
}

.smallThumbnails .inputNumGroup {
  width: 130px;
}

.filterSecInside {
  background: #f9f9f9;
  padding: 20px;
}

.filterSecInside h4 {
  margin: 0 0 14px
}

.filterSecInside .btn-primary {
    width: 100%;
    margin: 20px 0 0;
}

.totalFinalPrice {
    background: rgb(238 238 238);
    padding: 10px 5px;
    margin: 10px -20px 0;
    font-size: 16px;
}

.smileRow {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.smileCol {
  display: flex;
  align-items: center;
  margin: 0 50px 20px 0;
}

.smileCol img {
  height: 44px;
  margin: 0 10px 0 0;
}

.smileCol small {
  color: #C00;
}

.guaranted {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin: 10px 0 0;
}

.smileColRight {
  position: relative;
  top: 8px;
}

.smileColRight .thumb {
  display: flex;
}

.smileColRight .thumb figure {
  width: 30px;
}

@media screen and (max-width: 1320px) {}

@media screen and (max-width: 1200px) {
  .container {
    padding: 30px 30px;
  }
}

@media only screen and (max-width: 980px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 980px) {}

@media only screen and (max-width: 767px) {
  .header {
    padding: 0;
  }

  .header .container {
    padding: 10px 30px 20px;
  }

  .header-search {
    width: 100%;
    order: 3;
    margin: 20px 0 0;
  }

  .smallLogo {
    display: block;
  }

  .bigLogo {
    display: none;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 10px;
  }

  h2 {
    font-size: 30px;
    margin: 10px 0 30px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    line-height: 32px;
  }

  .hide_767 {
    display: none;
  }

  .show_767 {
    display: block;
  }

  .copyright {
    padding: 10px 0 0;
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  footer {
    padding: 0px 0 0;
  }

  #goToTop {
    bottom: 70px;
  }

  .modal-dialog {
    max-width: 90vw !important;
    margin: 1.75rem auto;
  }

  .accordion .card-body {
    padding: 0 20px 20px;
  }

  .newsletter {
    margin: 20px 0 0;
  }
  

  .smallThumbnails {
    width: 100%;
  }
}